@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --clr-primary: rgba(20, 20, 20, 1);
  --clr-primary-light: rgba(51, 51, 51, 0.8);
  --clr-primary-accent: rgba(255, 255, 255, 0.08);
  --clr-main-btn: rgba(255, 255, 255, 0.16);
  --clr-secondary: rgb(255, 255, 255);
  --clr-secondary-dark: rgba(255, 255, 255, 0.788);
  --clr-secondary-accent: rgba(255, 255, 255, 0.479);
  --inter-font: "Inter", sans-serif;
  --transition-default: all 0.1s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter-font);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 768px;
  width: 100vw;
  padding: 2rem 0;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: none;
  gap: 12px;
  padding: 0.5rem 1.2rem;
  width: min-content;
  position: relative;
  text-decoration: none;
  background-color: var(--clr-main-btn);
  border-radius: 0.5rem;
  height: 100%;
  border-style: solid;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  color: var(--clr-secondary);
  transition: var(--transition-default);
  text-wrap: nowrap;
}

.text {
  color: var(--clr-secondary-accent);
}

.text-emphasis {
  color: var(--clr-secondary);
  font-weight: 500;
}

.main-btn:hover {
  background-color: var(--clr-primary-accent);
}

.icon-btn {
  color: var(--clr-secondary-accent);
}

.text-wrap {
  text-wrap: nowrap;
  white-space: nowrap;
}

.page-title {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  color: var(--clr-secondary-accent);
  font-size: 1rem;
  font-weight: 400;
}

input,
textarea {
  padding: 0.8rem 0.8rem;
  width: 100%;
  background-color: var(--clr-primary-accent);
  border-radius: 0.5rem;
  border: none;
  color: var(--clr-secondary-);
  font-size: 1rem;
  caret-color: var(--clr-secondary);
}

input:focus-visible,
textarea:focus-visible {
  box-shadow: none;
  border: none;
  outline: none;
}

.available {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(5, 184, 5);
  margin-right: 0.5rem;
}

.footer-container {
  width: 100%;
  padding: 0rem 1rem;
  margin-bottom: 5rem;
}
