.section-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem 1rem;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.125px;
  line-height: 1.3em;
  text-align: left;
  color: var(--clr-secondary);
}

/* PROFILE */

.my-profile {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 0 1rem;
}

.my-profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(1);
}

.my-profile-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.my-profile-name {
  color: var(--clr-secondary);
  font-weight: 400;
  font-size: 1.2rem;
}

.my-profile-location {
  color: var(--clr-secondary-accent);
}

/* INTRODUCTION */

.introduction {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 3rem 1rem;
}

.introduction-title {
  display: flex;
  align-items: center;
  color: var(--clr-secondary-accent);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  height: 2.2rem;
  overflow: hidden;
  gap: 10px;
}

.slider {
  color: var(--clr-secondary);
  animation: slider 6s linear infinite;
}

@keyframes slider {
  0% {
    margin-top: -8.8rem;
  }
  5% {
    margin-top: -4.4rem;
  }
  30% {
    margin-top: -4.4rem;
  }
  35% {
    margin-top: 0;
  }
  65% {
    margin-top: 0;
  }
  70% {
    margin-top: 4.4rem;
  }
  100% {
    margin-top: 4.4rem;
  }
}

.introduction-desc {
  color: var(--clr-secondary-accent);
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: -0.15px;
  line-height: 1.25em;
  text-align: left;
}

.introduction-available {
  color: var(--clr-secondary-accent);
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
  line-height: 1.3em;
  letter-spacing: 0px;
}

/* PROJECTS */

.projects-container {
  display: flex;
  justify-content: space-between;
}

.projects-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.projects-text-container:hover .all-projects,
.projects-text-container:hover .arrow-icon {
  color: var(--clr-secondary);
}

.all-projects {
  font-size: 1.2rem;
  color: var(--clr-secondary-accent);
  transition: all 0.2s ease-in-out;
}

.arrow-icon {
  width: 1.3rem;
  height: 1.3rem;
  color: var(--clr-secondary-accent);
  transition: all 0.2s ease-in-out;
}

/* FIND */

.find-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.find-link-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--clr-secondary-accent);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  gap: 10px;
}

.find-link-container:hover {
  color: var(--clr-secondary);
}

.span-line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--clr-primary-accent);
  align-self: center;
  transition: var(--transition-default);
}

.find-link-container:hover .span-line {
  background-color: var(--clr-secondary);
}

@media (max-width: 618px) {
  .introduction-title {
    display: flex;
    align-items: center;
    color: var(--clr-secondary-accent);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4rem;
    height: 1.4rem;
    overflow: hidden;
    gap: 10px;
  }

  @keyframes slider {
    0% {
      margin-top: -5.6rem;
    }
    5% {
      margin-top: -2.8rem;
    }
    30% {
      margin-top: -2.8rem;
    }
    35% {
      margin-top: 0;
    }
    65% {
      margin-top: 0;
    }
    70% {
      margin-top: 2.8rem;
    }
    100% {
      margin-top: 2.8rem;
    }
  }
}
